.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px; 
    margin: 50px auto;
    background-color: #1d1d1d;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 1.0);
}

.logoContainer {
    margin-bottom: 20px;
}

.logo {
    width: 40px;
    height: 40px;
    font-weight: bold;
    color: #1da1f2;
}

.title {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .25rem;
    width: 100%;
}

.input {
    padding: 12px;
    margin-bottom: 15px;
    font-size: 16px;
    border-radius: 30px;
    border: 1px solid #bbbbbb;
    color: #ccc;
    width: 100%;
}

.options a {
    color: #1991da;
    display: flex;
    justify-content: center;

    &:hover{
        cursor: pointer;
        text-decoration: underline;
    }
}

.options p {
    display: flex;
    justify-content: center;
}

.login{
    cursor: pointer;
    background-color: #1da1f2;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    width: 100%;

    &:hover {
        background-color: #1991da;
    }

    &:disabled {
        background-color: #cccccc;
        cursor: not-allowed;
    }
}

.passwordContainer {
    width: 100%;
    position: relative;
}

.toggleVisible {
    position: absolute;
    right: 10px;
    top: 13px;
}

.error {
    background-color: #f44336;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 14px;
}