.signupContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px; 
    margin: 0px auto;
    background-color: #1d1d1d;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 1.0); 
}

.logoContainer {
    margin-bottom: 20px;
}

.logo {
    width: 40px;
    height: 40px;
}

.title {
    color: white;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .25rem;
    width: 100%;
}

.input {
    padding: 12px;
    margin-bottom: 12px;
    font-size: 16px;
    border-radius: 30px;
    border: 1px solid #bbbbbb;
    color: #ccc;
}

.submitButton {
    cursor: pointer;
    background-color: #1de1f2;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    width: 100%;

    &:hover {
        background-color: #1991da;
    }

    &:disabled {
        background-color: #cccccc;
        cursor: not-allowed;
    }
}

.goToLogin {
    text-align: center;
}

.goToLogin:hover {
    text-decoration: underline;
    cursor: pointer;
}

.error {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
    background-color: #ffe6e6;
    padding: 10px;
    border-radius: 5px;
}

.success {
    color: green;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
    background-color: #ffe6e6;
    padding: 10px;
    border-radius: 5px;
}

.footerText {
    text-align: center;
    margin-top: 1rem;

    &p {
        display: flex;
        justify-content: center;
    }
}

.link {
    color: #1991da;

    &:hover {
        text-decoration: underline;
    }
}